<div class="container" th:fragment="editscript" xmlns:th="http://www.w3.org/1999/xhtml">

    <script type="text/javascript">
        var loaderId = "#customloader";
        var formId = "#customloader";
        var studentIdSelected;


        $(document).ready(function () {
            $(loaderId).css('visibility', 'hidden'); // Hide element
            /*debugger
            studentIdSelected = [[${studentInfo.id}]];
            alert(JSON.stringify(id) + " my id");*/
        });

        /* hit controller to create (insert) data in DB */
        function updateStudentFn() {
            var formData = $("#studentformEdit").serialize();
            startLoader(formId);

            $.ajax({
                type: "post",
                url: "/admin/saveStudent",
                data: formData,
                dataType: "json",
                success: function (data) {
                    swal("Welcome ", data.message);

                    var url = "/admin/student";
                    window.open(url, "_self");

                    stopLoader(formId);
                }
            });

        }

        function deleteStudentById() {
            swal({
                title: "Are you sure?",
                text: "Delete Parmanently.",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                cancelButtonColor: "#DD6B33",
                confirmButtonText: "Yes, Delete it!",
                cancelButtonText: "No, cancel please!"
            }).then(
                    function () {
                        $.ajax({
                            url: '/admin/delStudent',
                            type: 'POST',
                            dataType: 'json',
                            data: {id: $("#id").val()},
                            success: function (result) {
                                debugger
                                toasterDisplay(result.studentDelInfo);
                                var url = "/admin/student";
                                window.open(url, "_self");
                            }
                        });
                    },
                    function () {
                        return false;
                    });
        }

        function resetStudentList() {

        }


    </script>

</div>