<div class="container" th:fragment="firstscript" xmlns:th="http://www.w3.org/1999/xhtml">

    <script type="text/javascript">
        var loaderId = "#customloader";
        var formId = "#customloader";
        var str = '';
        var urlContext = '';

        /*var baseUrlContext = window.location.origin;
        console.log("base Url showing in show page:  " + baseUrlContext)*/

        $(document).ready(function () {
            $(loaderId).css('visibility', 'hidden'); // Hide element

            /*var url7 = window.location.href
            var cc1 = getNthIndex(url7, "/", 1)
            var cc2 = getNthIndex(url7, "/", 4)
            console.log("BAL ::: = " + url7.substring(cc1, cc2))*/

            var tempUrlContext = window.location.pathname.substring(0, window.location.pathname.indexOf("/", 2))
            tempUrlContext == "/oed" ?
                urlContext = window.location.origin + "" + window.location.pathname.substring(0, window.location.pathname.indexOf("/", 2))
                : urlContext = window.location.origin
            listStudentFn(urlContext);
        });

        function listStudentFn(urlContext) {
            /* url1 = url1.replace("/admin", " ");
             url1 = url1.replace("/student", " ");*/
            startLoader(formId);

            $.ajax({
                type: "get",
                url: urlContext + "/admin/listStudent",
                data: "",
                dataType: "json",
                success: function (data) {
                    var dataObj = data.queryList;
                    $('#example').DataTable({
                        "aaData": dataObj,
                        "columns": [
                            {"data": "id"},
//                            {
//                                "data": "student_id",
//                                "render": function (data, type, row, meta) {
//                                    if (type === 'display') {
//                                        data = '<a href="' + data + '">' + data + '</a>';
//                                    }
//
//                                    return data;
//                                }
//                            },
                            {
                                "data": function (data, type, row, meta) {
                                    return '<a href="#"  onclick="setDataToForm(' + '\'' + data.id + '\',' + '\'' + data.id + '\')">' + data.student_id + '</a>';
//                                    return '<a href="#"  onclick="setDataToForm(' + '\'' + data.id + '\',' + '\'' + data.student_id + '\')">' + data.student_id + '</a>';
                                }
                            },

                            {"data": "student_name"},
                            {"data": "course_id"},
                            {"data": "course_title"},
                            {"data": "dept_name"},
                            {"data": "semester_info"},
                            {
                                "data": function (data, type, row, meta) {

                                    str = data.id + "_" + data.id;
                                    return '<a href="#"  onclick="generateRpt(' + '\'' + str + '\')">Preview</a>';
                                    str = '';
                                }, "title": "Preview"
                            },
                            {
                                "render": function (data, type, full, meta) {
                                    return "<input type='checkbox' name='checkedAll' id='checkedAll' value='1'/>";
                                },
                                "sortable": false,
                                "data": "checkedAll", name: "checkedAll",
                                "title": "<input onclick='toggle(this,str)' type='checkbox' name='post'/>"
                            }

                        ],
                        "columnDefs": [

                            {
                                "targets": [0],
                                "visible": false
                            }
                        ]


                    });


                    toasterDisplay(data.message);
                    stopLoader(formId);
                }
            });
        }

        function toggle(source, str) {
            checkboxes = document.getElementsByName('checkedAll');
            for (var i = 0, n = checkboxes.length; i < n; i++) {
                checkboxes[i].checked = source.checked;
            }
            flag = true;
        }

        function setDataToForm(id, ids) {
            $.ajax({
                url: urlContext + '/admin/selectStudent',
                type: 'POST',
                dataType: 'json',
                data: {id: id},
                success: function (result) {

                    var url = urlContext + "/admin/editStudent?id=" + id;
//                    window.open(url, "_self");

                    $.post(url, function (data) {
                        var w = window.open('about:blank', "_self");
                        w.document.open();
                        w.document.write(data);
                        w.document.close();
                    });

                }
            });
        }

        function generateRpt(item_id) {
            var res = item_id.split("_");
            if (res[0] == "") {
                showError("Please select a serial");
                return;
            }
            toasterDisplay("Processing...");
            var data = '';
            data = data + "id=" + res[0];
            data = data + "&exportMode=" + "pdf";
            // data = data + "&exportMode=" + "xls";

            var url = urlContext + "/admin/rptStudent?" + data;

            window.open(url);

        }

        /* hit controller to fetch data from database and display in table */
        function listStudentFn1() {
            startLoader(formId);
            $.ajax({
                type: "get",
                url: urlContext + "/admin/listStudent",
                data: "",
                dataType: "json",
                success: function (data) {
                    tableDataReset();
                    var dataObj = data.queryList;
                    tableDataLoad(dataObj);
                    stopLoader(formId);
                }
            });
        }

        /*
         delete table row(tr) except table header(gt(0))
         */
        function tableDataReset() {
            $("#listStudentTable").find("tr:gt(0)").remove();
        }

        function tableDataLoad(dataObj) {
            $.each(dataObj, function (index, value) {
                var $row = $('<tr>' +
                    '<td>' + index + '</td>' +
                    '<td>' + dataObj[index].student_id + '</td>' +
                    '<td>' + dataObj[index].student_name + '</td>' +
                    '<td>' + value.course_id + '</td>' +
                    '</tr>');
                $('table> tbody').append($row);
            });
        }

        function getNthIndex(s, t, n) {
            var count = 0;
            for (var i = 0; i < s.length; i++) {
                if (s[i] == t) {
                    count++;
                    if (count == n) {
                        return i;
                    }
                }
            }
            return -1;
        }


    </script>

</div>