<div class="container" th:fragment="firstscript" xmlns:th="http://www.w3.org/1999/xhtml">

    <script type="text/javascript">
        var loaderId = "#customloader";
        var formId = "#customloader";

        var baseUrlContext // = window.location.origin;
        var urlContext = window.location.origin + "" + window.location.pathname.substring(0, window.location.pathname.indexOf("/", 2))
        baseUrlContext = urlContext
        console.log("base Url showing in create page:  " + baseUrlContext)

        var url6 = window.location.href.replace(window.location.href.replace(window.location.origin, " ").trim(), " ").trim()
        console.log(" Url6 showing in create page:  " + url6)
        debugger

        $(document).ready(function () {
            $(loaderId).css('visibility', 'hidden'); // Hide element
        });

        /* hit controller to create (insert) data in DB */
        function saveStudentFn() {
            var formData = $("#studentform").serialize();
            startLoader(formId);

            $.ajax({
                type: "post",
                // url: url6 + "/admin/saveStudent",
                url: baseUrlContext + "/admin/saveStudent",
                data: formData,
                dataType: "json",
                success: function (data) {
                    swal("Welcome ", data.message);

                    stopLoader(formId);
                }
            });

        }

        function resetStudentList() {

        }


    </script>

</div>